#karmapi {
    font-family: Spectral !important;
    color: #A6A695;
    font-size: 14pt;
    padding-left: 5%;
    padding-right: 5%;
}

.bord-b {
    border: 1px solid  #E1C05E !important;
}

#karmapi-p {
    font-family: 'Inter', 'Source Sans Pro';
    font-weight: 400;
    line-height: 32px;
    color: #A6A695;
    font-size: 20px;

}

.karma-card {
    box-shadow: none;
    background: linear-gradient(180deg, #2e260e,#110e05);
    border-radius: 10px;
}
.karma-h{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2000000293;
    color: #fefffc;
    font-family: Inter, 'Source Sans Pro';

}
.neo-karma {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2000000293;
    color: #fefffc;
    font-family: Inter, 'Source Sans Pro';
}
.neo-karma-h {
    font-size: 42px;
    font-weight: 500;
    line-height: 1.2000000293;
    color: #fefffc;
    font-family: Inter, 'Source Sans Pro'
}
.karma-h-b{
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2000000363;
    text-transform: capitalize;
    color: #fefffc;
    font-family: Inter, 'Source Sans Pro';
}
@media only screen and (max-width: 375px) {
    .karma-h-b {
      margin-top: 20px;
      font-size: 26px !important;
      font-weight: 700 !important;
      text-transform: uppercase;
    }
    #karmapi {
        padding: 0px !important;
    }
    .slick-arrow-left {
        position: absolute !important;
        left: 32% !important;
        top: 100% !important;
    }
    .slick-arrow-right {
        position: absolute !important;
        right: 32% !important;
        top: 100% !important;
    }
    .karma-star {
        background-image: none !important;
    }
    .card-img-top {
        margin-bottom: 20px;
    }
    .karma-mob {
        text-align: center;
        font-size: 28px;
        font-weight: 600;
    }
    .karma-mh {
        text-align: center;
    }
    .karma-mp {
        text-align: center;
    }
    .al-c {
        text-align: center;
    }
    .karma-m-pa {
        margin-left: 10px !important;
        margin-right: 10px !important;
        text-align: center;
        font-size: 18px !important;
    }
    .karma-card {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .karma-button-right {
        right: 30% !important;
        top: 90% !important;
    }
    .karma-button-left {
        left: 30% !important;
        top: 90% !important;
    }
    .karma-slide {
        width: 100%;
        margin-left: 5%;
        align-items: center;
    }
    .karma-slide img{
        width: auto;
        margin-left: 5%;
    }
    .first {
        margin-top: 0px !important;
    }
    .mob-w {
        width: auto !important;
        margin-left: auto;
    }
}


@media only screen and (max-width: 762px) {

    .slick-arrow-left {
        position: absolute !important;
        left: 32% !important;
        top: 100% !important;
    }
    .slick-arrow-right {
        position: absolute !important;
        right: 32% !important;
        top: 100% !important;
    }
    .karma-card {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .karma-button-right {
        right: 20% !important;
    }
    .karma-button-left {
        left: 30% !important;
    }
    .karma-slide {
        width: 100%;
        margin-left: 5%;
        align-items: center;
    }
    .karma-slide img{
        width: auto;
    }
    .first {
        margin-top: 0px !important;
    }
    .mob-w {
        width: auto !important;
        margin-left: auto;
    }
    .mob-uniq {
        width: 100% !important;
        margin-top: 80px !important;
        margin-bottom: 20px;
    }
}




.karma-h img {
    width: 30px;
}
.karma-y {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2000000293;
    font-family: Inter, 'Source Sans Pro';
    color: #FBC65F;
}

.bg-img-hero {
    background-image: url("../img/nft/nft.png");
    background-size:contain;
}

.karma-star {
    background-image: url("../img/star/starfill.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 40px;
}

@media only screen and (max-width: 600px) {
    [class="karma-star"] {
        background-position: center right;
      }
}

@media only screen and (max-width: 762px) {
    [class="karma-star"] {
        background-position: center right;
      }
}

@media only screen and (max-width: 320px) {
    [class="karma-star"] {
        background-position: bottom right;
      }
}

@media only screen and (max-width: 375px) {
    .karma {
      padding:0px !important;
    }
}

.karma-crystal {
    background-image: url("../img/star/crystal.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 40px;
}

.karma-star-2 {
    background-image: url("../img/star/star2.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    background-size: 40px;
}

a.opensea {
    display: inline-block;
    background: #FBC65F;
    border-radius: 40px;
    border: 1px solid #FBC65F;
    text-align: center;
    color: #030303;
    vertical-align: bottom;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 300px;
}
a.opensea-right {
    background: none;
    border-radius: 40px;
    border: 1px solid #FBC65F;
    text-align: center;
    color: #030303;
    vertical-align: bottom;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    width: 300px;
}

a.opensea-right:hover {
    background: #FBC65F;
}

a.opensea-right:hover p {
    color: #030303;
}


a.opensea:hover p {
    color: #fff;
}

a.opensea p {
    vertical-align: middle;
    font-family: Inter, 'Source Sans Pro';
    color: #030303;
    height: auto;
    width: auto;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 400;
}

a.opensea-right p {
    vertical-align: middle;
    font-family: Inter, 'Source Sans Pro';
    color: #fff;
    height: auto;
    width: auto;
    font-size: 24px;
    padding-top: 20px;
    font-weight: 400;
}

.gap-3 {
    gap: 2rem !important;
}



a.opensea-small {
    display: inline-block;
    background: linear-gradient(45deg, rgba(255, 211, 77, 0.6), black);
    border-radius: 20px;
    border: 1px solid #FBC65F;
    text-align: center;
    color: rgba(255, 211, 77, 0.6);
    height: 40px;
    width: 130px;
    vertical-align: bottom;
}
    
a.opensea-small:hover {
    box-shadow: inset 1px 0px 3px 1px #FBC65F;
}

a.opensea-small p {
    vertical-align: middle;
    font-family: Spectral !important;
    color: #fff;
    height: auto;
    width: auto;
    font-size: 12px;
    padding-top: 10px;
    font-weight: 700;
}


.karma-b {
    border: 1px solid rgba(251, 198, 95, 0.5);
    border-radius: 10px;
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.6) 60%,rgb(255, 231, 75, 0.2));
}
.karma-slider {
    width: 260px;
}
.karma-slider img {
    width: 130%;
}

.star {
    color:#CFCFB0;
    list-style-image: url("../img/star/ministar.png") !important;
    line-height: 30px;
    padding-top: 20px;
    padding-left: 15px;
    font-family: Canela Trial !important;
    font-size: 18px;
} 
.star li{
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5555555556;
    color: #aaaaaa;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
}
.karma-yl {
    color: #E1C05E;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2000000293;
    font-family: Inter, 'Source Sans Pro';
}
.bg-karma {
    background: 0px 50px no-repeat url("../img/bg-shapes/bg4.png") !important;
}
.h-button {
    display: inline-block;
    background: linear-gradient(180deg, rgba(255, 211, 77, 0.3), rgb(17, 17, 1));
    box-shadow: 0px 1px 3px 0px rgb(255, 211, 77, 0.3);
    border-radius: 20px;
    border: 1px solid #FBC65F;
    text-align: center;
    color: rgba(255, 211, 77, 0.6);
    height: 30px;
    font-weight: 100;
    width: 100px;
    font-size: 16px;
    vertical-align: bottom;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}
.bord-h {
    font-family:Spectral !important;
    font-size: 26px;
    color: #fff;
    text-align: center;
    padding-bottom: 60px;

}
.karma-button-left {
    position:absolute;
    left: 43%;
    top: 100%;
    margin-right: 30px;
    background-image: url("../img/bg-shapes/icon-left.png");
    background-repeat: no-repeat;
  
}
.karma-button-left:hover {
    box-shadow: 1px 1px 1px 2px rgba(224, 128, 0, 0.3);
}

.karma-button-right {
    position:absolute;
    right: 43%;
    top: 100%;
    margin-right: 30px;
    background-image: url("../img/bg-shapes/icon-right.png");
    background-repeat: no-repeat;

}
.karma-button-right:hover {
    box-shadow: 1px 1px 1px 2px rgba(224, 128, 0, 0.3);
}
.karma-circle {
    background-color: #030303 !important;
}
.karma-box-out {
    box-shadow: none;
}
.karma-slide img {
    width: 100%;
    width: 320px;
}
.img-background-1 {
    background: 0px 0px no-repeat url("../img/all/background_1.png");
}
.border-roadmap {
    background: no-repeat 0px 22px url("../img/all/frame-34084.png");
    background-size: 140px;
    height: 50px;
}


