<!DOCTYPE html>
<html lang="en">
 <head>
  
  {{ $title := .Meta.Title}}
  <!-- Title -->
  <title>
  {{$title}}
  </title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content"" />
  {{template "links"}}
</head>

<body>
  {{template "header"}}
  
  <main id="content" role="main">
    
    <!-- Section 1-->
    <div class="position-relative bg-dark overflow-hidden">
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-3 space-bottom-1 space-bottom-md-1">
        <div class="row align-items-lg-left">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h1 class="text-white mb-3">
               THE NEW GAME CHANGER IN SPORTS BETTING</h1>
                <h2 class="text-white mb-3">
                <span class="text-bet font-weight-bold">
                  <span class="js-text-animation"
                        data-hs-typed-options='{
                          "strings": ["Exchange", "Trading", "Analytycal"],
                          "typeSpeed": 60,
                          "loop": true,
                          "backSpeed": 25,
                          "backDelay": 1500
                        }'></span>
                </span></h2>
              
              
              <p class="text-white-graph"> Advanced Betting Exchange with unique tools and features. Trading on Sports and E-sports events </p>
               free account for everyone.
                <br>
            <div class="mb-6 space-top-lg-3">
            
           <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="https://stage.betfate.com"> <i class="fas fa-play-circle mr-1"></i>
          Try Demo</a>
  </div>
            </div>
     <!-- Card Info -->
             
          </div>

          <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="./assets/img/iphone/phone.png" alt="Image Description">
              </div>
              <!-- End Device Mockup -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG Shape -->
      <div class="bg-dark position-absolute top-0 right-0 bottom-0 left-0"></div>
      <!-- End SVG Shape -->
    </div>
<!-- Section 1-->

  <!-- Section 2-->
     <div class="w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
        <h2 class="text-white">About Platform</h2>
        <p>BETFATE is a modern technological platform for betting that provides users with unique functional and gaming features. </p>
      </div>
    <div class="position-relative bg-dark overflow-hidden">
  
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-1 space-bottom-1 space-bottom-md-1">
        <div class="row align-items-lg-left">
          <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="./assets/img/iphone/slide5.png" alt="Image Description">
              </div>
              <!-- End Device Mockup -->
            </div>
          </div>
          
          
          <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h3 class="text-white mb-3">
               THE NEW GAME CHANGER IN SPORTS BETTING</h3>
          
                    <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              BETFATE works on the principle of Betting Exchange and by its nature is a much more technological product in contrast to those used in the classical betting model.
              </p>
                  </div>
                </div>

            <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              BETFATE creates its own gaming ecosystem with elements such as sports betting, trading, social networking, analytics and etc.

              </p>
                  </div>
                </div>

              <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              BETFATE is developed on a modern technological stack using the advanced features of artificial intelligence, big data, scoring models and forecasting models.

              </p>
                  </div>
                </div>
            
              
            <div class="mb-6 space-top-lg-1">
           <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="https://stage.betfate.com"> <i class="fas fa-play-circle mr-1"></i>
          Try Demo</a>
            </div>
        </div>
     <!-- Card Info -->
             
          </div>

          
        </div>
      </div>
      <!-- SVG Shape -->
      <div class="bg-dark position-absolute top-0 right-0 bottom-0 left-0"></div>
      <!-- End SVG Shape -->
    </div>
<!-- Section 2-->

<!-- Articles Section -->
<div class="container space-1">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white ">Directions</h2>
  </div>
  <!-- End Title -->

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
                 <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
            </div>
            <div class="mt-6">
             <h2 class="h4 text-white">Sports betting</h2>
              <p>The classical athletic disciplines, except for the most toxic [corrupt] and unpopular ones.</p>
            </div>
             
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
          </div>
               <div class="mt-6">
             <h2 class="h4 text-white">Sports betting</h2>
              <p>The classical athletic disciplines, except for the most toxic [corrupt] and unpopular ones.</p>
            </div>

</p>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
          </div>
               <div class="mt-6">
             <h2 class="h4 text-white">Sports betting</h2>
              <p>The classical athletic disciplines, except for the most toxic [corrupt] and unpopular ones.</p>
            </div>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>
  </div>

<div class="space-1"></div>
  
  <d <div class="row">
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
          </div>
              <h2 class="h4 text-white">Sports betting</h2>
              <p>Классические направления спорта, за исключением наиболее 
              токсичных [коррумпированных] и непопулярных направлений</p>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
          </div>
              <h2 class="h4 text-white">Betting on E-Sports</h2>
              <p>Ставки на основные игровые дисциплины киберспорта
</p>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
          </div>
              <h2 class="h4 text-white">Pseudo-skill games​</h2>
              <p>Короткие быстрые игры, в которых формируется призовой фонд и игроки играют против друг друга. Платформа забирает часть призового фонда в качестве комиссии
*для разработчиков игр будет доступен API
</p>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>
  </div>
</div>
<!-- End Articles Section -->




<!-- Compettitors Section -->
<div class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white">Compettitors</h2>
    <p>Everything you need in one platform</p>
  </div>
  <!-- End Title -->

  <!-- Table -->
  <div class="table-responsive-lg w-lg-100 mx-lg-auto">
    <table class="table table-striped table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col" class="w-20"></th>
          <th scope="col" class="w-20">
            <span class="text-body">BetFate</span>
             <span class="badge badge-warning badge-pill ml-1">solution</span>
      
          </th>
          <th scope="col" class="w-20 border-left border-right">
            <span class="text-body">Smarkets</span>
           
 
          </th>
          <th scope="col" class="w-20  border-left border-right">
            <span class="text-body ">Betfair</span>
     
          </th>

          <th scope="col" class="w-20">
            <span class="text-body">Matchbook</span>
     
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-top border-bottom bg-dark">
          <th scope="row" class="bg-dark text-white pt-5 pb-3 px-4 mb-0">Cross-platform UI toolkit</th>
          <td class="bg-dark"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark"></td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">14-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">15-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">14-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">15-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">14-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">15-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">14-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">15-days free trial</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        
    
       
        
        <tr class="bg-dark border-top border-bottom">
          <th scope="row" class="bg-dark text-white pt-5 pb-3 px-4 mb-0">Developer tools</th>
          <td class="bg-dark"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark"></td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Removal of Front branding</th>
          <td class="text-center text-body p-3"></td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Active maintenance & support</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
           <td class="text-center p-3 ">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Big Data & Analytycal</th>
          <td class="text-center text-body p-3"></td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Removal of Front branding</th>
          <td class="text-center text-body p-3"></td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Active maintenance & support</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
           <td class="text-center p-3 ">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
        </tr>
        
        
    
      </tbody>
    </table>
  </div>
  <!-- End Table -->
</div>
<!-- End Compettitors Section -->



<!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white">RoadMap</h2>
    <p>We build the best betting Platform</p>
  </div>
  <!-- End Title -->

<div class="container space-1 space-lg-1">

      <!-- Nav -->
      <div class="text-center">
        <ul class="nav nav-segment nav-pills scrollbar-horizontal mb-7" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features" aria-selected="true">Q1 2022</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features" aria-selected="false">Q2 2022</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">Q3 2022</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" id="pills-four-code-features-tab" data-toggle="pill" href="#pills-four-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">Q4 2022</a>
          </li>
        </ul>
      </div>
      <!-- End Nav -->

      <!-- Tab Content -->
      <div class="tab-content pr-lg-4">
        <div class="tab-pane fade active show" id="pills-one-code-features" role="tabpanel" aria-labelledby="pills-one-code-features-tab">
   
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">P2P betting on Classic sport</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Bets statistic</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Personal Dashboard with analytics</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">Work in Google is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Detail Trade info on Event</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">My first steps...</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->

        </div>

        <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel" aria-labelledby="pills-two-code-features-tab">
    
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">Work in Google is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">My first steps...</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->

        </div>

        <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
  
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">Work in Google is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">My first steps...</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->


        </div>

        <div class="tab-pane fade" id="pills-four-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
  
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">The company has high expectations and using OKRs there is a mutual understanding of expectations and performance.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">This is an excellent company and they reward their employees. It's becoming a big company but it's still private, so the culture is as good as it gets at 1,000+ employees if you ask me. Managers are still adapting to the growth I think, but everyone has to. Great place to work.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">Work in Google is one of the beautiful experience I can do in my entire life. There are a lot of interesting thing to learn and manager respect your time and your personality.</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Head of IT Department</h5>
                <small class="d-block mb-4">December 2016 to Present</small>
                <p class="text-body mb-0">My first steps...</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->


        </div>
      </div>
      <!-- End Tab Content -->


    </div>

<!-- Section Features  -->
<div class="overflow-hidden">
  <div class="container space-2 space-top-lg-1 position-relative">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2 class="text-white">Our Features</h2>
    </div>
    <!-- End Title -->

    <div class="row">
      
      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-45.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Big Data</h4>
          <p>Providing independent analytics that gives the user with complete information about all sports and e-sports events taking place on the platform.
The user will be able to obtain comprehensive information on any event, professionally evaluate it and improve the efficiency of his/her analysis.
</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-5.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Trading</h4>
          <p>Now that we've aligned the details, it's time to get things mapped out and organized.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-2.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Algorithmic bets</h4>
          <p>Providing the user with the possibility of algorithmic bets using strategies and extended tools, as well as the possibility of automatic betting.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>
  
      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-1.svg" alt="SVG">
          </figure>
          <h4 class="text-white"> Copying a betting strategy</h4>
          <p>One of the key features of the platform is the ability to copy rates of other users:  experts, analysts and brokers. The user can set up a deposit for which bets will be placed automatically.
This opportunity opens up a unique functionality for beginners and can also serve as an investment tool.
</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-3.svg" alt="SVG">
          </figure>
          <h4 class="text-white">API</h4>
          <p>A full-featured opportunity for users and developers to integrate into the platform of existing solutions or create new robots and AI-advisers.
Providing an opportunity to integrate custom AI solutions with algorithmic betting technologies, which allows to create a unique automatic strategy with performance indicators.
</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-26.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Forecasting & Experts</h4>
          <p>Providing statistics and forecasts from experts, as well as the ability to evaluate their accuracy and use them to make bets in an automated format.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-31.svg" alt="SVG">
          </figure>
          <h4 class="text-white"> Trust deposits</h4>
          <p>Deposit management provides the client with the opportunity to give his account to another user/broker/expert, etc. with a guarantee that the deposit on the account will be used for its intended purpose and will not be stolen.</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-29.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Artificial intelligence</h4>
          <p>Creating a built-in AI assistant that forecasts the outcome of events and helps the user determine the success of an event based on Big Data.
With AI, the user will also be able to build and test various strategies, including for working in an automated format.
</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

      <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
        <!-- Icon Blocks -->
        <div class="pr-lg-6">
          <figure class="max-w-6rem w-100 mb-3">
            <img class="img-fluid" src="../assets/svg/icons/icon-28.svg" alt="SVG">
          </figure>
          <h4 class="text-white">Bot Platform</h4>
          <p>A full-featured Bot platform that allows to integrate the main functionality through the bot with third-party services: chats / third-party applications, etc.
</p>
        </div>
        <!-- End Icon Blocks -->
      </div>

    </div>
  </div>
</div>
<!-- End Section 9-->
  
  </main>

  {{template "footer"}}

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->

  <!-- JS Global Compulsory  -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="./assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="./assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="./assets/vendor/typed.js/lib/typed.min.js"></script>
  <script src="./assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="./assets/vendor/aos/dist/aos.js"></script>
  <!-- JS Front -->
  <script src="./assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      var header = new HSHeader($('#header')).init();


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();


      // INITIALIZATION OF TEXT ANIMATION (TYPING)
      // =======================================================
      var typed = $.HSCore.components.HSTyped.init(".js-text-animation");

      // INITIALIZATION OF FANCYBOX
      // =======================================================
      $('.js-fancybox').each(function () {
        var fancybox = $.HSCore.components.HSFancyBox.init($(this));
      });

      // INITIALIZATION OF AOS
      // =======================================================
      AOS.init({
        duration: 650,
        once: true
      });

      // INITIALIZATION OF GO TO
      // =======================================================
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });


    
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
  </script>
</body>
</html>