<!DOCTYPE html>
<html lang="en">
 <head>
  
  <title>
{{.Title}}
  </title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon-16x16.png">
  <link rel="manifest" href="./assets/site.webmanifest">
  <link rel="mask-icon" href="./assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="keywords" content="{{.Keywords}}" />
  <meta name="description" content="{{.Desc}}" />
  {{template "links"}}
</head>

<body>
  {{template "header"}}
  
  <main id="content" role="main">
    
    <!-- Section 1-->
    <div class="position-relative bg-dark overflow-hidden">
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-3 space-bottom-1 space-bottom-md-1">
        <div class="row align-items-lg-left">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h1 class="text-white mb-3">
               INTELLIGENT BETTING &
SPORTS TRADING</h1>
                <h2 class="text-white mb-3">
                <span class="text-bet font-weight-bold">
                  <span class="js-text-animation"
                        data-hs-typed-options='{
                          "strings": ["Betting", "Trading", "Big Data", "Analytics"],
                          "typeSpeed": 60,
                          "loop": true,
                          "backSpeed": 25,
                          "backDelay": 1500
                        }'></span>
                </span></h2>
              
              
              <p class="text-white-graph"> Advanced Betting Exchange with unique tools and features</p>
              
              <div></div>
            <div class="mb-6 space-top-lg-1">
            
           <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5" href="https://stage.betfate.com" target="_blank" rel="noopener noreferrer"> <i class="fas fa-play-circle mr-1"></i>
          Try Demo</a>
  </div>
            </div>
     <!-- Card Info -->
             
          </div>

          <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="./assets/img/iphone/phone.png" alt="Image Description">
              </div>
              <!-- End Device Mockup -->
            </div>
          </div>
        </div>
      </div>
      <!-- SVG Shape -->
      <div class="bg-dark position-absolute top-0 right-0 bottom-0 left-0"></div>
      <!-- End SVG Shape -->
    </div>
<!-- Section 1-->

  <!-- Section 2-->
     <div id="about" class="w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
        <h2 class="text-white">ABOUT</h2>
        <p class="font-size-1">BETFATE is a modern technological platform for betting that provides users with unique functional and gaming features</p>
      </div>
    <div class="position-relative bg-dark overflow-hidden">
  
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-1 space-bottom-1 space-bottom-md-1">
        <div class="row align-items-lg-left">
          <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="./assets/img/iphone/slide5.png" alt="Image Description">
              </div>
              <!-- End Device Mockup -->
            </div>
          </div>
          
          
          <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
              <h3 class="text-white mb-3">
               THE NEW GAME CHANGER IN SPORTS BETTING</h3>
          
                    <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p class="font-size-1"> 
              BETFATE works on the principle of betting exchange and is a much more technological product than the classical betting model
              </p>
                  </div>
                </div>

            <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              BETFATE creates betting & trading platform with elements such as sports betting, trading, social networking, analytics, Big Data and etc

              </p>
                  </div>
                </div>

              <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              By combining all this on a modern technological platform, BETFATE becomes an ecosystem that allows you to develop both B2C and B2B directions

              </p>
                  </div>
                </div>
            
              
            <div class="mb-6 space-top-lg-1">
       
            </div>
        </div>
     <!-- Card Info -->
             
          </div>

          
        </div>
      </div>
      <!-- SVG Shape -->
      <div class="bg-dark position-absolute top-0 right-0 bottom-0 left-0"></div>
      <!-- End SVG Shape -->
    </div>
<!-- Section 2-->


  <!-- Section 3-->
     <div id="vision" class="w-lg-50 text-center mx-lg-auto mb-5 mb-md-9">
        <h2 class="text-white">THE NEW ERA OF SPORTS BETTING</h2>
        <blockquote class="h3 text-white font-weight-normal mb-4">SMART  &nbsp;&nbsp;&nbsp;&nbsp; EFFECTIVE &nbsp;&nbsp;&nbsp;&nbsp;  FAIR &nbsp;&nbsp;&nbsp;&nbsp;   TECHNOLOGICAL</blockquote>
      </div>
    <div class="position-relative bg-dark overflow-hidden">
  
      <div class="container position-relative z-index-2 space-top-3 space-top-lg-1 space-bottom-1 space-bottom-md-1">
        <div class="row align-items-lg-left">
          
        
          
          
        <div class="col-lg-5 mb-5 mb-lg-0">
            <!-- Info -->
            <div class="mb-6">
             <h3 class="text-white mb-3">
               MAKE BETS FOR FUN OR TRADE PROFESSIONALLY</h3>
          
                    <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              Global Sports Betting Market to be worth US$ 179.3 billion by 2028
              </p>
                  </div>
                </div>

            <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p > 
              The total value of the global equity trading worldwide was 37.7 trillion US$ in the second quarter of 2021

              </p>
                  </div>
                </div>

              <div class="media font-size-1 text-body mb-3">
                  <i class="fas fa-check-circle text-success mt-1 mr-2"></i>
                  <div class="media-body">
                      <p class="bet"> 
              In both sports & stock betting markets a vast number of players risk capital along whilst utilising the best available information in a competitive marketplace. Similar to stock market trading, the sports betting markets have become highly efficient and bettors require the best platforms, tools and information in order to maximise returns

              </p>
                  </div>
                </div>
            
              
            <div class="mb-6 space-top-lg-1">
            <h3 class="text-white mb-3">
               CREATE AND IMPROVE YOUR BETTING STRATEGY</h3>
            </div>
        </div>
        
     <!-- Card Info -->
          </div>
            <div class="col-lg-7">
            <div class="position-relative">
              <!-- Device Mockup -->
              <div class="device d-none d-sm-block mb-3 mb-sm-0" data-aos="fade-up">
                <img class="img-fluid" src="./assets/img/bg-shapes/bg2.jpg" alt="Image Description">
              </div>
              <!-- End Device Mockup -->
            </div>
          </div>
          
        </div>
      </div>
      <!-- SVG Shape -->
      <div class="bg-dark position-absolute top-0 right-0 bottom-0 left-0"></div>
      <!-- End SVG Shape -->
    </div>
<!-- Section 3-->





<!-- Articles Section -->
<div id="directions" class="container space-1">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white ">DIRECTIONS</h2>
  </div>
  <!-- End Title -->

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
                 <img class="img-fluid" src="../assets/img/bg-shapes/sport.png" alt="Sport">
            </div>
            <div class="mt-6">
             <h2 class="h4 text-white">Sports betting</h2>
              <p>The main classic sports and betting markets, excluding only the extremes, ie manipulated and unpopular ones</p>
            </div>
             
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport2.png" alt="Sport">
          </div>
               <div class="mt-6">
             <h2 class="h4 text-white">E-Sports betting</h2>
              <p>Bets on the main gaming disciplines of E-sports
</p>
            </div>

</p>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>

      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover" >
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
            <img class="img-fluid" src="../assets/img/bg-shapes/sport5.png" alt="Sport">
          </div>
               <div class="mt-6">
             <h2 class="h4 text-white">Trading <span class="badge badge-warning badge-pill ml-1">unique</span></h2>
              <p>Value Betting and Trading is a revolutionary concept in the space of Betting Exchange. It extends the functionality of the Betting Exchange to a ‘full-featured exchange’ where users are provided with advanced exchange tools for trading on sport and cybersport events</p>
            </div>
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>
  </div>

<div class="space-1"></div>
  
  </div>
</div>
<!-- End Articles Section -->




<!-- Compettitors Section -->
<div id="compettitors"  class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white">COMPETITORS</h2>
    <p class="font-size-1">Everything what you need in one platform</p>
  </div>
  <!-- End Title -->

  <!-- Table -->
  <div class="table-responsive-lg w-lg-100 mx-lg-auto">
    <table class="table table-striped table-borderless">
      <thead class="text-center">
        <tr>
          <th scope="col" class="w-40"></th>
          <th scope="col" class="w-20">
            <span class="font-size-my text-body">BETFATE</span>
             <span class="badge badge-warning badge-pill ml-1">solution</span>
      
          </th>
          <th scope="col" class="w-20 border-left border-right">
            <span class="font-size-my text-body">CLASSICAL BOOKMAKERS</span>
           
 
          </th>
          <th scope="col" class="w-20  border-left border-right">
            <span class="font-size-my text-body">OTHER BETTING EXCHANGES</span>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr class="border-top border-bottom bg-dark">
          <th scope="row" class="bg-dark text-white pt-5 pb-3 px-4 mb-0">FEATURES</th>
          <td class="bg-dark"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark"></td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Classical betting</th>
          <td class="text-center p-3">
           
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
        
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">Betting Exchange</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
       
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Betting on E-Sports</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
      
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">Social Betting</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
        
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
       
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Analytics & Statistic</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
       
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">Low fees</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
          <td class="text-center border-left border-right p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
      
        </tr>

        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Copy betting</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
    
        </tr>
          <tr class="bg-new">
          <th scope="row" class="font-size-1 py-3 px-4 bg-new">Access for Big Data</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
  
        </tr>
        
    
       
        
        <tr class="bg-dark border-top border-bottom">
          <th scope="row" class="bg-dark text-white pt-5 pb-3 px-4 mb-0">ADVANCED TOOLS</th>
          <td class="bg-dark"></td>
          <td class="bg-dark border-left border-right"></td>
          <td class="bg-dark"></td>
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">API for Integration</th>
          <td class="text-center text-body p-3">
           <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
       
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Artificial intelligence</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center p-3 border-right">
            
          </td>
       
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Algorithmic Bets</th>
          <td class="text-center text-body p-3">
          <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
           
          </td>
          <td class="text-center p-3 border-right">
            
          </td>
     
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Bot Platform</th>
          <td class="text-center text-body p-3">
          <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center p-3 border-right">
            
          </td>
   
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Forecasting & Experts</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center p-3 border-right">
           
          </td>
       
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">E-Sport/Sport Trading</th>
          <td class="text-center text-body p-3">
          <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center p-3 border-right">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
     
        </tr>
        <tr>
          <th scope="row" class="font-size-1 py-3 px-4">Trust account management</th>
          <td class="text-center p-3">
            <i class="fas fa-check-circle text-success mr-2"></i>
          </td>
          <td class="text-center border-left border-right p-3">
            
          </td>
          <td class="text-center p-3 border-right">
            
          </td>
      
        </tr>
        <tr>
        
        
    
      </tbody>
    </table>
  </div>
  <!-- End Table -->
</div>
<!-- End Compettitors Section -->



<!-- Title -->
  <div id="roadmap" class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="text-white">ROADMAP</h2>
    <p class="font-size-1">Advanced Betting Platform</p>
  </div>
  <!-- End Title -->

<div class="container space-1 space-lg-1">

      <!-- Nav -->
      <div class="text-center">
        <ul class="nav nav-segment nav-pills scrollbar-horizontal mb-7" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-one-code-features-tab" data-toggle="pill" href="#pills-one-code-features" role="tab" aria-controls="pills-one-code-features" aria-selected="true">Q1 2022</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-two-code-features-tab" data-toggle="pill" href="#pills-two-code-features" role="tab" aria-controls="pills-two-code-features" aria-selected="false">Q2 2022 <span class="badge badge-warning badge-pill ml-1">launch</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-three-code-features-tab" data-toggle="pill" href="#pills-three-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">Q3 2022</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" id="pills-four-code-features-tab" data-toggle="pill" href="#pills-four-code-features" role="tab" aria-controls="pills-three-code-features" aria-selected="false">Q4 2022</a>
          </li>
        </ul>
      </div>
      <!-- End Nav -->

      <!-- Tab Content -->
      <div class="tab-content pr-lg-4">
        <div class="tab-pane fade active show" id="pills-one-code-features" role="tabpanel" aria-labelledby="pills-one-code-features-tab">
   
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">P2P betting on classic sport
</h5>
                <p class="text-body mb-0">Implementation of the basic functionality of P2P betting for classic sports events</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Bets statistic</h5>
       
                <p class="text-body mb-0">Betting statistics with search and sorting options</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Dashboard with analytics</h5>
               
                <p class="text-body mb-0">Personal dashboard with basic widgets to display custom analytics, economic indicators, etc</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Event information</h5>
  
                <p class="text-body mb-0">Information on betting volume, bidding volume for the event, etc</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->

        </div>

        <div class="tab-pane fade" id="pills-two-code-features" role="tabpanel" aria-labelledby="pills-two-code-features-tab">
    
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Accepting payments</h5>
             
                <p class="text-body mb-0">Deposit, withdrawal, payment history, search, sorting, etc</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Historical Data</h5>
  
                <p class="text-body mb-0">Searchable and sortable event statistics for detailed analysis</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Smart list & Notification</h5>
  
                <p class="text-body mb-0">Selection of events, updates for events of interest, personal dashboard, notifications on event status</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Bonus System</h5>
              
                <p class="text-body mb-0">Launching a bonus model that allows players to get bonuses for their bets, as well as better rates when building up trading volumes, etc</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->

        </div>

        <div class="tab-pane fade" id="pills-three-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
  
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Bets on E-sports</h5>

                <p class="text-body mb-0">Implementation of basic functionality of p2p betting on eSports events</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Accepting Crypto</h5>
  
                <p class="text-body mb-0">Deposit, withdrawal, payment history, search, sorting, etc</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Advanced order book</h5>
      
                <p class="text-body mb-0">Adding new order types to the main order book, as well as providing tools for order book management</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Mobile App (IOS)</h5>

                <p class="text-body mb-0">Launch IOS app</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->


        </div>

        <div class="tab-pane fade" id="pills-four-code-features" role="tabpanel" aria-labelledby="pills-three-code-features-tab">
  
   <!-- timeline Section -->
<div class="container space-2">
  <div class="row">
    <div class="col-lg-8">
      <div class="mb-8">
  
        <!-- Step -->
        <ul class="step step-icon-sm">
          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">API for Traders/Pro-players</h5>
          
                <p class="text-body mb-0">Providing API for professional players and traders for automated trading or integration into their solution</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Mobile App (Android)</h5>
           
                <p class="text-body mb-0">Launch Android app
</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <div class="step-avatar step-avatar-sm">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </div>
              <div class="step-content">
                <h5 class="text-white">Advanced trading</h5>
               
                <p class="text-body mb-0">Providing tools for creating trading strategies, and automated trading on the platform</p>
              </div>
            </div>
          </li>

          <li class="step-item">
            <div class="step-content-wrapper">
              <span class="step-icon step-icon-soft-dark">
                <img class="img-fluid" src="../assets/svg/icons/icon-37.svg" alt="SVG">
              </span>
              <div class="step-content">
                <h5 class="text-white">Live Trading</h5>
              
                <p class="text-body mb-0">Providing functionality for full-fledged exchange trading on sports/e-sports events. Implementation of basic functionality for buying/selling contracts and between platform players</p>
              </div>
            </div>
          </li>
        </ul>
        <!-- End Step -->
      </div>
    </div>
  </div>
</div>
<!-- timeline Section -->


        </div>
      </div>
      <!-- End Tab Content -->


    </div>


   
        <!-- features Section -->
  <section class="space-2 ptb-sm-80">
               <!-- Title -->
    <div id="features" class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2 class="text-white">FEATURES</h2>
    </div>
    <!-- End Title -->
            <div class="container">
                <div class="row">
                    
                    
                    <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
      <!-- Card -->
      <span class="card card-bg-light h-100 shadow-none overflow-hidden transition-3d-hover">
        <div class="">
          <div class="col-12 col-md-12">
            <div class="py-3 pl-1">
              <div class="col-4 col-md-12 px-0">
                  <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/bigdata.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        
                                            <p>Providing independent analytics that gives the user complete information about all sports and e-sports events taking place on the platform. The user will be able to obtain comprehensive information on any event, professionally evaluate it and improve the efficiency of their analysis and betting strategy
</p>
       
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
            </div>
          
             
              
            </div>
          </div>
          
        </div>
      </span>
      <!-- End Card -->
    </div>
                    
                    <!-- Team Box -->
                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/bigdata.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        
                                            <p>Providing independent analytics that gives the user complete information about all sports and e-sports events taking place on the platform. The user will be able to obtain comprehensive information on any event, professionally evaluate it and improve the efficiency of their analysis and betting strategy
</p>
       
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/trading.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        
                                        <p>This unique mechanic allows even the classic traders, who are used to trading on regular exc hanges, to make trades. 
                                        Traders will be able to buy and sell futures on the outcome of a sporting or cyber sporting event using classic tools and familiar trading mechanics</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/algo.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                      
                                        <p>Providing the user with the possibility of algorithmic bets using strategies and extended tools, as well as the possibility of automated betting</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                
                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/copy.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                    
                                        <p>One of the key features of the platform is the ability to copy rates of other users: experts, analysts and brokers. The user can set up a deposit for which bets will be placed automatically. This opportunity opens up a 
                                        unique functionality for beginners and can also serve as an investment tool</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/api.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                              
                                        <p>A full-featured opportunity for users and developers to integrate into the platform of existing solutions or create new robots and AI-advisers. Providing an opportunity to integrate custom AI solutions with algorithmic betting technologies, 
                                        which allows to create a unique automatic strategy with performance indicators</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/for.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                      
                                        <p>Providing statistics and forecasts from experts, as well as the ability to 
                                        evaluate their accuracy and use them to make bets in an automated format</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/ai.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                        
                                        <p>Creating a built-in AI assistant that forecasts the outcome of events and helps the user determine the success of an event based on Big Data. With AI, the user will also be able to build and 
                                        test various strategies, including those which run in an automated format</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-5 mb-sm-0">
                        <div class="team-item">
                            <div class="team-item-img">
                                <img src="../assets/img/team/bot.png" alt="" />
                                <div class="team-item-detail">
                                    <div class="team-item-detail-inner light-color">
                                   
                                        <p>A full-featured Bot platform that allows to integrate the main functionality through the bot with third-party services: chats, third-party applications, etc</p>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- End Team Box -->
                    
                </div>
            </div>

        </section>
        <!-- End features Section -->

  </main>

  {{template "footer"}}

  <!-- Go to Top -->
  <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
     data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- End Go to Top -->
 <!-- JS Global Compulsory  -->
  <script src="./assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="./assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
  <script src="./assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!-- JS Implementing Plugins -->
  <script src="./assets/vendor/hs-header/dist/hs-header.min.js"></script>
  <script src="./assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
  <script src="./assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
  <script src="./assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
  <script src="./assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
  <script src="./assets/vendor/hs-scroll-nav/dist/hs-scroll-nav.min.js"></script>
 
  <script src="./assets/vendor/typed.js/lib/typed.min.js"></script>
  <script src="./assets/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
  <script src="./assets/vendor/slick-carousel/slick/slick.js"></script>
  <script src="./assets/vendor/aos/dist/aos.js"></script>

  <!-- JS Front -->
  <script src="./assets/js/theme.min.js"></script>



  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF HEADER
      // =======================================================
      var header = new HSHeader($('#header')).init();


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();


      // INITIALIZATION OF TEXT ANIMATION (TYPING)
      // =======================================================
      var typed = $.HSCore.components.HSTyped.init(".js-text-animation");

      // INITIALIZATION OF FANCYBOX
      // =======================================================
      $('.js-fancybox').each(function () {
        var fancybox = $.HSCore.components.HSFancyBox.init($(this));
      });

      // INITIALIZATION OF AOS
      // =======================================================
      AOS.init({
        duration: 650,
        once: true
      });

      // INITIALIZATION OF GO TO
      // =======================================================
      $('.js-go-to').each(function () {
        var goTo = new HSGoTo($(this)).init();
      });
    });

    // INITIALIZATION OF UNFOLD
      // =======================================================
      var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


      // INITIALIZATION OF SCROLL NAV
      // =======================================================
      var isClosed = false;

      $('.js-scroll-nav').each(function () {
        var scrollNav = new HSScrollNav($(this), {
          beforeShow: function () {
            if (window.innerWidth < 768) {
              $('#navBar').collapse('hide').on('hidden.bs.collapse', function () {
                isClosed = true;
              });
            } else {
              isClosed = true;
            }

            return isClosed;
          },
          afterShow: function () {
            isClosed = false;
          }
        }).init();
      });
    
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="./assets/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
  </script>
</body>
</html>